.footercontent {
    width: 100%;
    max-width: 1500px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #00000081;
    z-index: 3;
}

.footeroption {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    z-index: 2;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
    position: relative; /* necessário para posicionar o pseudo-elemento */
    overflow: hidden;
} footer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/World.png');
    filter: blur(2px);
    background-position: center bottom;
    background-size: 1500px 200px;
    background-repeat: no-repeat;
    z-index: 1;
}

.footeroption h4 {
    font-size: 18px;
    color: var(--text-color-white);
    font-family: "Poppins Light";
    text-transform: capitalize;
    position: relative;
    margin-bottom: 13px;
    line-height: 10px;
} .footeroption h4::before {
    content: '';
    position: absolute;
	left: 0;
	bottom: -8px;
	background-color: var(--rocket-red-color);
	height: 2px;
	width: 70px;
    border-radius: 50px;
} .footeroption h4:last-child {
    margin-bottom: 16px;
}

.footeroption a {
    margin-top: 10px;
	color: #ffffffe1;
    font-size: 14px;
    font-family: "Poppins Light";
}

.social-links {
    display: flex;
	align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;
}

.social-links a {
    height: 40px;
	width: 40px;
    margin: 0px 10px 0px 0px;
	border-radius: 50%;
	transition: all 0.5s ease;
} .social-links a:hover{
	color: #24262b;
} 

@media(max-width: 1100px) {
    .footercontent {
        flex-direction: column;
    }
}