div#headerwithname {
    width: 100%;
    height: 550px;
    background-image: url('../images/Background.svg');
    background-size: cover; /* Faz a imagem cobrir completamente a div */
    display: flex;
    align-items: center;
    justify-content: center;
} 

div#headerwithname div#logo {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#headerwithname div#logo img {
    width: 100%;
    height: 100%;
}

@media (max-width: 950px) {
    div#headerwithname {
        height: 450px;
    } 

    div#headerwithname div#logo {
        width: 50%;
    }
}

@media (max-width: 500px) {
    div#headerwithname {
        height: 300px;
    }

    div#headerwithname div#logo {
        width: 60%;
        margin-top: 30px;
    }
}