div#impress {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div#impress div#title {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 10px 15px 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 26%, rgba(0,1,112,1) 75%);
}

div#impress section {
    width: 100%;
    max-width: 1500px;
    height: auto;
    padding: 15px 15px 15px 15px;
}

div#impress section div#cards {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
}

div#impress section div#cards::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

div#impress section div#cards::-webkit-scrollbar-thumb {
    background-color: #bebebece;
    border-radius: 10px;
}

div#impress section div#cards div.card {
    width: 280px;
    min-width: 280px;
    height: 280px;
    min-height: 280px;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    background-image: url('../images/Asteroid\ Background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

div#impress section div#cards div.card div.text {
    padding: 0px 10px 0px 10px;
    text-align: center;
    margin-bottom: 10px;
}

div#impress section div#cards div.card div.text div.line {
    width: 100%;
    height: 3px;
    background-color: var(--border-color);
}

div#impress section div#cards div.card div.contents {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column
}

div#impress section div#cards div.card div.contents select:first-child {
    margin-top: 5px
}

div#impress section div#cards div.card div.contents select {
    width: 100%;
    height: 45px;
    margin: 0px 0px 5px 0px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(26, 26, 26, 0.705);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: var(--text-color-white);
}

div#impress section div#cards div.card div.buttons {
    width: 100%;
    height: 45px;
}

div#impress section div#cards div.card div.buttons button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #00017fff;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

div#impress section div#cards div.card div.buttons button:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.9;
    cursor: pointer;
}

div#impress section div#cards div.card div.buttons button div.img {
    width: 35px;
    height: 35px;
    background-image: url('../icons/Shopping\ Cart.svg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

@media (max-width: 600px) {
    div#impress {
        height: auto;
    }

    div#impress section div#cards {
        flex-direction: column;
    }

    div#impress section div#cards div.card {
        width: 100%;
        min-width: 100%;
    }
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;

}
.footer{
    background-color: var(--primary-color);
    padding: 70px 0;
    border-bottom: 1px solid #373636;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 13px;
	font-weight: 500;
	position: relative;
    font-family: "Poppins Light";
    line-height: 10px;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -8px;/* deixa a linha em baixo*/
	background-color: red;
	height: 2px; /* Tamanho */
	box-sizing: border-box;
	width: 50px;
    border-radius: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 14px;
}
.footer-col ul li a{
	color: #757575;
    font-size: 12px;
    font-family: "Poppins Light";
}

.footer-col .social-links a{
	display: inline-block;
	height: 41px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

div.element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.element div.img { /* Select the image */
    background-size: cover; /* Makes the image completely cover the div */
    background-repeat: no-repeat; 
    width: 25px;
    height: 25px;
}



