div#impress {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../images/Asteroid\ Background.svg'); /* caminho para a sua imagem */
    background-position: right bottom; /* posicionamento da imagem - direita centralizado */
    background-size: 500px 500px;
    background-repeat: no-repeat; /* não repete a imagem */
}

div#impress div#title {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px 10px 15px 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 26%, rgba(0,1,112,1) 75%);
}

div#impress section {
    z-index: 2;
    width: 100%;
    max-width: 1500px;
    height: auto;
    padding: 15px 15px 15px 15px;
}

div#impress section div#cards {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

div#impress section div#cards::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

div#impress section div#cards::-webkit-scrollbar-thumb {
    background-color: #bebebece;
    border-radius: 10px;
}

div#impress section div#cards div.card {
    position: relative; /* necessário para posicionar o pseudo-elemento */
    width: 280px;
    min-width: 280px;
    height: 280px;
    min-height: 280px;
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

div#impress section div#cards div.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/printer.svg');
    background-position: center bottom;
    background-size: 200px 150px;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
}

div#impress section div#cards div.card div.text {
    padding: 0px 10px 0px 10px;
    text-align: center;
    margin-bottom: 10px;
}

div#impress section div#cards div.card div.text div.line {
    width: 100%;
    height: 3px;
    background-color: var(--border-color);
}

div#impress section div#cards div.card div.contents {
    width: 100%;
    height: 155px;
    display: flex;
    flex-direction: column
}

div#impress section div#cards div.card div.contents select:first-child {
    margin-top: 5px
}

div#impress section div#cards div.card div.contents select {
    width: 100%;
    height: 45px;
    margin: 0px 0px 5px 0px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(26, 26, 26, 0.705);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: var(--text-color-white);
}

div#impress section div#cards div.card div.buttons {
    width: 100%;
    height: 45px;
}

div#impress section div#cards div.card div.buttons button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #00017fff;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

div#impress section div#cards div.card div.buttons button:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.9;
    cursor: pointer;
}

div#impress section div#cards div.card div.buttons button div.img {
    width: 35px;
    height: 35px;
    background-image: url('../icons/Shopping\ Cart.svg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

@media (max-width: 600px) {
    div#impress {
        height: auto;
    }

    div#impress section div#cards {
        flex-direction: column;
    }

    div#impress section div#cards div.card {
        width: 100%;
        min-width: 100%;
    }
}
