div#logo {
    width: 100px;
    height: 35px;
    background-image: url('../icons/Logo\ Rocket/Logo Rocket With Name.png');
    background-size: cover; /* Faz a imagem cobrir completamente a div */
}

div#logo:hover {
    opacity: 0.8;
    transition: 1s;
}