div#logo {
    width: 9vw;
    height: 3vw;
    background-image: url('../icons/Logo\ Rocket\ With\ Name.svg');
    background-size: cover; /* Faz a imagem cobrir completamente a div */
}

div#logo:hover {
    opacity: 0.8;
    transition: 1s;
}