:root {
    --background-color: #222222;
    --border-color: rgba(255, 255, 255, 0.200);
    --primary-color: #181818;
    --text-color-white: #ffffffde;
}

@font-face {
    font-family: "Anton";
    font-style: normal;
    src: local('Anton'), url('../fonts/Anton-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Poppins Regular";
    font-style: normal;
    src: local('Poppins Regular'), url('../fonts/Poppins/Poppins-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Poppins Black";
    font-style: normal;
    src: local('Poppins Black'), url('../fonts/Poppins/Poppins-Black.ttf') format("truetype");
}

body::-webkit-scrollbar {
    display: none;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", Arial;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

.textwhite {
    color: var(--text-color-white);
}

.textpoppinsblack {
    font-family: "Poppins Black";
}

.textpoppinsregular {
    font-family: "Poppins Regular";
}

