:root {
    --background-color: #121212;
    --primary-color: #181818;
    --text-color-white: #ffffffde;
}

@font-face {
    font-family: "Anton";
    font-style: normal;
    src: local('Anton'), url('../fonts/Anton-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Poppins Regular";
    font-style: normal;
    src: local('Poppins Regular'), url('../fonts/Poppins/Poppins-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Poppins Black";
    font-style: normal;
    src: local('Poppins Black'), url('../fonts/Poppins/Poppins-Black.ttf') format("truetype");
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
} 

::-webkit-scrollbar-thumb {
    background-color: #88888800;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #00000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anton", Arial;
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}