div.logo {
    width: 100px;
    height: 35px;
    background-image: url('../icons/Logo\ Rocket/Logo Rocket With Name.svg');
    background-size: cover;
}

div.logo:hover {
    opacity: 0.8;
    transition: 1s;
    cursor: pointer;
}