div#servicesprovided {
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
    background-color: var(--primary-color);
}

div#servicesprovided div.service {
    width: 100%;
    height: 450px;
}

div#servicesprovided div.service div.servicecontent {
    width: 100%;
    height: 100%;
}

div#servicesprovided div.service div.servicecontent div.title {
    width: 100%;
    height: auto;
    margin: 40px 0px 0px 0px;
}

div#servicesprovided div.service div.servicecontent div.title h1 {
    color: var(--text-color);
    font-family: "Montserrat";
    text-align: center;
}

div#servicesprovided div.service div.servicecontent div.cards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

div#servicesprovided div.service div.servicecontent div.cards div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    min-width: 320px;
    height: 320px;
    background-color: var(--secundary-color);
    margin: 20px 0px 15px 30px;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    padding: 10px 10px 10px 10px;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardtitle {
    width: 100%;
    height: auto;
    text-align: center;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardtitle h2 {
    font-family: "Righteous Regular";
    color: var(--text-color);
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardtitle div.separateline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardtitle div.separateline div.linecontent {
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--text-color);
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardescription {
    width: 100%;
    height: auto;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardescription div.line {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5px;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardescription div.line div.statusimg {
    width: 15px;
    min-width: 15px;
    height: 15px;
    min-height: 15px;
    margin-right: 2px;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardescription div.line div.statusimg img {
    width: 100%;
    height: 100%;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardescription div.line div.text {
    width: 100%;
    height: auto;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.cardescription div.line div.text h5 {
    color: var(--text-color);
    opacity: 0.9;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.prices {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-around;
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.prices button.colorbuttonprice, button.pebbuttonprice {
    width: 50%;
    height: 40px;
    margin: 10px;
    border: 0;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.prices button.colorbuttonprice:hover {
    background-color: var(--button-color-green);
    transition: 0.3s;
    cursor: pointer;
    box-shadow:  5px 5px 10px var(--first-color-boxshadow-of-neumorphism), -5px -5px 10px var(--second-color-boxshadow-of-neumorphism);
}

div#servicesprovided div.service div.servicecontent div.cards div.card div.prices button.pebbuttonprice:hover {
    background-color: var(--button-color-peb);
    transition: 0.3s;
    cursor: pointer;
    box-shadow:  5px 5px 10px var(--first-color-boxshadow-of-neumorphism), -5px -5px 10px var(--second-color-boxshadow-of-neumorphism);
}

div#servicesprovided div.service div.servicecontent div.line {
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

div#servicesprovided div.service div.servicecontent div.line div.linecontent {
    width: 100%;
    height: 100%;
    background-color: var(--border-color);
}

div#servicesprovided div.service div.servicecontent div#options {
    width: 100%;
    height: auto;
}

div#servicesprovided div.service div.servicecontent div#options div#optionscontent {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px 10px 10px 10px;
}

div#servicesprovided div.service div.servicecontent div#options div#optionscontent div.card {
    padding: 10px 10px 10px 10px;
    width: 50%;
    height: 400px;
}

div#servicesprovided div.service div.servicecontent div#options div#optionscontent div.card div.cardcontent {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background: linear-gradient(145deg, #202020, #272727);
    box-shadow:  5px 5px 10px #1f1f1f, -5px -5px 10px #292929;
}

div#servicesprovided div.service div.servicecontent div#options div#optionscontent div.card div.cardcontent div.title {
    width: 100%;
    height: auto;
    text-align: center;
}

div#servicesprovided div.service div.servicecontent div#options div#optionscontent div.card div.cardcontent div.title h2 {
    color: var(--text-color);
    font-family: "Montserrat";
    text-align: center;
}